@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h4>@User.Identity.Name</h4>
    <p>Nivel de Acceso: <strong>@TempData["Rol"]</strong></p>
</div>
